 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

 .app {
    width: 100vw;
    height: 100vh;
    background: url(/public/images/capsule.webp);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 0;
 }

 button:hover {
    cursor: pointer;
 }