.banner {
    height: 95vh;
    background: url(/images/rocket_launch.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner h1 {
    background: url(/images/capsule.webp);
    font-size: max(5rem, 10vw);
    background-clip: text;
    -webkit-background-clip: text;
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    color: transparent;
    font-family: 'Anton', sans-serif;
}

.banner p {
    font-family: 'Anton', sans-serif;
    color: white;
    font-size: 2rem;
}