.search {
    background: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.search * {
    margin: .5rem;
}

.search input {
    border: 1px solid gray;
    outline: none;
    max-width: 300px;
    min-width: 80px;
    padding: .5rem;
    font-size: 1rem;
    background: black;
    color: rgb(156, 156, 156);
    transition: 300ms;
}

.search input:focus {
    background-color: white;
    color: black;
}