.top {
    border: 2px solid green;
    background: rgba(0, 0, 0, 1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    width: 100vw;
    /* height:5vh; */
    flex-wrap: wrap;

}

.top * {
    margin: .5rem;
}

.top input {
    border: 1px solid gray;
    outline: none;
    max-width: 300px;
    min-width: 200px;
    padding: .5rem;
    margin: 1rem;
    font-size: 1.2rem;
}

.top input:focus {
    outline: 3px solid red;
}

.top button {
    /* max-width: 300px; */
    min-width: 200px;
    padding: .5rem;
    font-size: 1.5rem;
}